
* Student name: Wambui Munene
* Student pace: DSPT08
* Scheduled project review date/time: 15/11/2024
* Instructor name: Samuel Karu

### Introduction

In this analysis, we will be analysing fuel consumption data and carbon dioxide emmisions data for new light-duty vehicles available for sale in Canada.We aim to understand, using data, the relationship between vehicle makes and models, engine size, number of cylinders, transmissiom type and the type of fuel on fuel economy and the resulting carbon footprint. We will use a dataset from https://www.kaggle.com/  based on original data from https://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64

### Problem Statement

Our Data Science Consulting Firm has been hired by Canadian start-up firm, that is venturing into the budget car rental business. Their mission is to provide a low-priced car rental model to cater for a demographic that is price and environmental conscious. They have tasked us to analyze different car makes, models and vehicle class to determine the most fuel effective models with the least carbon emmisions. Because car models are ever changing, they would want to understand the factors that drive those 2 variables and would like us to develop for them a predictive model that they can use to evaluate future car models that enter the market.

### Objectives

Our analysis will consist of 6 main tasks:-

1. Industry Background: This will include background understanding of the car industry and especially the relationships between the type of fuel used, fuel consumption and carbon dioxide emissions. To do this we will perform background internet reserach from sites such as https://www.greenvehicleguide.gov.au/pages/UnderstandingEmissions/VehicleEmissions and https://climate.ec.europa.eu/news-your-voice/news/publication-real-world-co2-emissions-and-fuel-consumption-cars-and-vans-. https://iopscience.iop.org/article/10.1088/1755-1315/214/1/012136/pdf


2. Understand the dataset - Understand the acronyms/technical terms used in the data set, review the shape and type of the data, understand the numerical and categorical columns, review the missing values and make a decision on how to deal with the Null values (drop or replace), look for duplicates and drop them, drop any unnecessary columns that are not useful for the analysis, add new colums if necessary for better analysis and prepare the data for EDA. 


3. Perform Exploratory Data Analysis (EDA) on the data - Analyse different makes, models and vehicle classes on their fuel econonomy and carbon emmisions to identify the most efficient models for both variables for each vehicle class. We will use visualizations such as histograms and piecharts. We will also analyze the correlation between such features as engine, size, fuel type, transmission type, and the number of cylinders on fuel efficiency and carbon emmision, to determine what are the features that most influential. We will aslo employ such visualizations as scatterplots and heatmaps. 


4. Conduct  statitistical Hypothetical tests to determine the statistical significance of the variables such as engine size, fuel type, transmision type on fuel economy and carborn emissions


5. Build a Predictive Regression Model to predict fuel economy and carbon emissions to evaluate future car models.


6. Summarize our findings and give conclusions and recomendations to our client on the mix of car models to consider for their business and provide them with a predictive model to guide them on future purchases.

### 1.0 Industry Terminologies

From the Data Card in the Kaggle dataset, we have obtained the following explanations about the abbreviations used:

**Model**

4WD/4X4 = Four-wheel drive;
AWD = All-wheel drive;
CNG = Compressed natural gas;
FFV = Flexible-fuel vehicle;
NGV = Natural gas vehicle

**Transmission**

A = Automatic; 
AM = Automated manual; 
AS = Automatic with select shift; 
AV = Continuously variable; 
M = Manual; 
3 - 10 = Number of gears

**Fuel Type**

X = Regular gasoline:
Z = Premium gasoline:
D = Diesel:
E = Ethanol (E85);
N = Natural Gas

**Fuel Consumption**
City and highway fuel consumption ratings are shown in litres per 100 kilometres (L/100 km) - combined rating (55% city, 45% hwy) is shown in L/100 km and in miles per imperial gallon (mpg)
CO2 Emissions (g/km),Estimated tailpipe carbon dioxide emissions (in grams per kilometre) are based on fuel type and the combined fuel consumption rating.

### 2.  Data Understanding and Cleaning

In [1]:
# Import the necessary libraries for data analysis and visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Load the data as a dataframe and dsplay the first 5 rows

data = pd.read_csv('../Data/Fuel_Consumption_2000_2022.csv')
data.head()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [3]:
# check the shape of the data
data.shape
print(f"This data set consists of {data.shape[0]} rows")
print(f"This data set consists of {data.shape[1]} columns")

This data set consists of 22556 rows
This data set consists of 13 columns

In [4]:
data.columns

Index(['YEAR', 'MAKE', 'MODEL', 'VEHICLE CLASS', 'ENGINE SIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUEL', 'FUEL CONSUMPTION', 'HWY (L/100 km)',
       'COMB (L/100 km)', 'COMB (mpg)', 'EMISSIONS'],
      dtype='object')

In [5]:
# Change column names to sentence case

data.columns = data.columns.str.title()
data.head()

,Year,Make,Model,Vehicle Class,Engine Size,Cylinders,Transmission,Fuel,Fuel Consumption,Hwy (L/100 Km),Comb (L/100 Km),Comb (Mpg),Emissions
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [6]:
# get column attributes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              22556 non-null  int64
 1   Make              22556 non-null  object
 2   Model             22556 non-null  object
 3   Vehicle Class     22556 non-null  object
 4   Engine Size       22556 non-null  float64
 5   Cylinders         22556 non-null  int64
 6   Transmission      22556 non-null  object
 7   Fuel              22556 non-null  object
 8   Fuel Consumption  22556 non-null  float64
 9   Hwy (L/100 Km)    22556 non-null  float64
 10  Comb (L/100 Km)   22556 non-null  float64
 11  Comb (Mpg)        22556 non-null  int64
 12  Emissions         22556 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.2+ MB

From the column attributes the data does not have any null values. Also the columns that we expect to be numerical are well formatted as int or float. Categorical columns are likewise well formatted as objects. The date column needs to be converted to date format.

In [7]:
# confirming there are no Null values

data.isnull().values.any()

False

From the data the make, model, vehicle class, transmission and fuel type with the most frequencies are Chevrolet, Jetta, SUV, Auto with 4 gears, and regular gasoline.

In [8]:
# check for duplicates
data[data.duplicated()]

,Year,Make,Model,Vehicle Class,Engine Size,Cylinders,Transmission,Fuel,Fuel Consumption,Hwy (L/100 Km),Comb (L/100 Km),Comb (Mpg),Emissions
378,2000,LAND ROVER,DISCOVERY SERIES II 4X4,SUV,4.0,8,A4,Z,17.7,12.7,15.4,18,354

In [9]:
# drop the duplicate row
data.drop_duplicates(inplace=True)

In [10]:
# confirm the row is dropped
data.shape
print(f"This data set consists of {data.shape[0]} rows")
print(f"This data set consists of {data.shape[1]} columns")

This data set consists of 22555 rows
This data set consists of 13 columns

We now have one less row on the dataset

In [11]:
unique_vehicle_classes = data['Vehicle Class'].unique()
unique_vehicle_classes

array(['COMPACT', 'MID-SIZE', 'SUBCOMPACT', 'STATION WAGON - MID-SIZE',
       'MINICOMPACT', 'TWO-SEATER', 'STATION WAGON - SMALL', 'FULL-SIZE',
       'SUV', 'VAN - CARGO', 'VAN - PASSENGER', 'PICKUP TRUCK - STANDARD',
       'PICKUP TRUCK - SMALL', 'MINIVAN', 'SUV - STANDARD',
       'SPECIAL PURPOSE VEHICLE', 'SUV - SMALL', 'Compact', 'SUV: Small',
       'Two-seater', 'Mid-size', 'Minicompact', 'Subcompact',
       'Station wagon: Small', 'Full-size', 'SUV: Standard',
       'Special purpose vehicle', 'Pickup truck: Small',
       'Pickup truck: Standard', 'Minivan', 'Van: Passenger',
       'Station wagon: Mid-size'], dtype=object)

We have duplicated names. Upper Case names are duplicates of the sentence case names.

In [12]:
# Define the mapping to replace the Upper Case duplicates

replace_dict = { 'COMPACT': 'Compact', 'MID-SIZE': 'Mid-size', 'SUBCOMPACT': 'Subcompact', 
                'STATION WAGON - MID-SIZE': 'Station wagon: Mid-size','MINICOMPACT': 'Minicompact',
                'TWO-SEATER': 'Two-seater','STATION WAGON - SMALL': 'Station wagon: Small',
                'FULL-SIZE': 'Full-size', 'SUV': 'SUV: Standard','VAN - CARGO':'Van:Cargo',
                'VAN - PASSENGER':'Van: Passenger','PICKUP TRUCK - STANDARD':'Pickup truck: Standard',
                'PICKUP TRUCK - SMALL':'Pickup truck: Small','MINIVAN': 'Minivan','SUV - STANDARD': 'Suv: Standard',
                'SPECIAL PURPOSE VEHICLE': 'Special purpose vehicle','SUV - SMALL': 'SUV: Small'}

# Replace the upper case duplicates 
data['Vehicle Class'] = data['Vehicle Class'].replace(replace_dict)
data['Vehicle Class'].unique()

array(['Compact', 'Mid-size', 'Subcompact', 'Station wagon: Mid-size',
       'Minicompact', 'Two-seater', 'Station wagon: Small', 'Full-size',
       'SUV: Standard', 'Van:Cargo', 'Van: Passenger',
       'Pickup truck: Standard', 'Pickup truck: Small', 'Minivan',
       'Suv: Standard', 'Special purpose vehicle', 'SUV: Small'],
      dtype=object)

In [13]:
unique_transmissions = data['Transmission'].unique()
unique_transmissions

array(['A4', 'M5', 'AS5', 'AS4', 'M6', 'A5', 'A3', 'AS6', 'AV', 'A6',
       'AM6', 'A7', 'AM7', 'AS7', 'AS8', 'M4', 'A8', 'M7', 'AV7', 'AV8',
       'AV6', 'AM5', 'A9', 'AS9', 'AM8', 'AM9', 'AS10', 'A10', 'AV10',
       'AV1'], dtype=object)

In [14]:
# Create 2 new columns for 'Trans Type' and 'Gears' from the transmission columns
# Create new columns 
data['Trans Type'] = data['Transmission'].str.extract(r'([A-Za-z]+)') 
data['Gears'] = data['Transmission'].str.extract(r'(\d+)') 
# Convert Gears column to numeric type 
data['Gears'] = pd.to_numeric(data['Gears'], errors='coerce') 
# Display the updated DataFrame 
data.head()

,Year,Make,Model,Vehicle Class,Engine Size,Cylinders,Transmission,Fuel,Fuel Consumption,Hwy (L/100 Km),Comb (L/100 Km),Comb (Mpg),Emissions,Trans Type,Gears
0,2000,ACURA,1.6EL,Compact,1.6,4,A4,X,9.2,6.7,8.1,35,186,A,4.0
1,2000,ACURA,1.6EL,Compact,1.6,4,M5,X,8.5,6.5,7.6,37,175,M,5.0
2,2000,ACURA,3.2TL,Mid-size,3.2,6,AS5,Z,12.2,7.4,10.0,28,230,AS,5.0
3,2000,ACURA,3.5RL,Mid-size,3.5,6,A4,Z,13.4,9.2,11.5,25,264,A,4.0
4,2000,ACURA,INTEGRA,Subcompact,1.8,4,A4,X,10.0,7.0,8.6,33,198,A,4.0

In [15]:
# Classify emissions column into low, medium and high: 150g/km is considered low. 160 to 255g/km is considered medium.
# Above 255g/km is considered high.
# Define a function to classify emissions 
def classify_emissions(x): 
    if x < 160: 
        return 'Low' 
    elif 160 <= x <= 255: 
        return 'Medium' 
    else: 
        return 'High'
# Apply the classification function to the emissions column

data['Emissions Class'] = data['Emissions'].apply(classify_emissions)
data.head(5)

,Year,Make,Model,Vehicle Class,Engine Size,Cylinders,Transmission,Fuel,Fuel Consumption,Hwy (L/100 Km),Comb (L/100 Km),Comb (Mpg),Emissions,Trans Type,Gears,Emissions Class
0,2000,ACURA,1.6EL,Compact,1.6,4,A4,X,9.2,6.7,8.1,35,186,A,4.0,Medium
1,2000,ACURA,1.6EL,Compact,1.6,4,M5,X,8.5,6.5,7.6,37,175,M,5.0,Medium
2,2000,ACURA,3.2TL,Mid-size,3.2,6,AS5,Z,12.2,7.4,10.0,28,230,AS,5.0,Medium
3,2000,ACURA,3.5RL,Mid-size,3.5,6,A4,Z,13.4,9.2,11.5,25,264,A,4.0,High
4,2000,ACURA,INTEGRA,Subcompact,1.8,4,A4,X,10.0,7.0,8.6,33,198,A,4.0,Medium

In [16]:
# Classify Fuel Consumption into low, medium and high efficiency: Any vehicle listed less than 12l/100 km is considered 
# good, #12 to 15 l/100 km is considered Average; above 15l/100 km is considered low (not good)

# Define a function to classify fuel efficiency 
def fuel_efficiency(y): 
    if y <= 12: 
        return 'Efficient' 
    elif 12 < y <= 15: 
        return 'Average Efficiency' 
    else: 
        return 'Not Efficient'
# Apply the classification function to the emissions column

data['Fuel Efficiency'] = data['Fuel Consumption'].apply(fuel_efficiency)
data.head(5)

,Year,Make,Model,Vehicle Class,Engine Size,Cylinders,Transmission,Fuel,Fuel Consumption,Hwy (L/100 Km),Comb (L/100 Km),Comb (Mpg),Emissions,Trans Type,Gears,Emissions Class,Fuel Efficiency
0,2000,ACURA,1.6EL,Compact,1.6,4,A4,X,9.2,6.7,8.1,35,186,A,4.0,Medium,Efficient
1,2000,ACURA,1.6EL,Compact,1.6,4,M5,X,8.5,6.5,7.6,37,175,M,5.0,Medium,Efficient
2,2000,ACURA,3.2TL,Mid-size,3.2,6,AS5,Z,12.2,7.4,10.0,28,230,AS,5.0,Medium,Average Efficiency
3,2000,ACURA,3.5RL,Mid-size,3.5,6,A4,Z,13.4,9.2,11.5,25,264,A,4.0,High,Average Efficiency
4,2000,ACURA,INTEGRA,Subcompact,1.8,4,A4,X,10.0,7.0,8.6,33,198,A,4.0,Medium,Efficient

## 3. Exploratory Data Analysis (EDA)

In [20]:
# Numerical columns statistics
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,22555.0,2011.554955,6.297939,2000.0,2006.0,2012.0,2017.0,2022.0
Engine Size,22555.0,3.356617,1.335448,0.8,2.3,3.0,4.2,8.4
Cylinders,22555.0,5.854046,1.819582,2.0,4.0,6.0,8.0,16.0
Fuel Consumption,22555.0,12.763294,3.500922,3.5,10.4,12.3,14.7,30.6
Hwy (L/100 Km),22555.0,8.918958,2.274675,3.2,7.3,8.4,10.2,20.9
Comb (L/100 Km),22555.0,11.034148,2.910839,3.6,9.1,10.6,12.7,26.1
Comb (Mpg),22555.0,27.374950,7.376881,11.0,22.0,27.0,31.0,78.0
Emissions,22555.0,250.063844,59.352558,83.0,209.0,243.0,288.0,608.0
Gears,21739.0,5.971342,1.469272,1.0,5.0,6.0,7.0,10.0

In [21]:
# Categorical Columns Analysis
data.describe(include='O').T

                 count unique            top   freq
Make             22555     87      CHEVROLET   1725
Model            22555   4242          JETTA     89
Vehicle Class    22555     17  SUV: Standard   3247
Transmission     22555     30             A4   3518
Fuel             22555      5              X  11822
Trans Type       22555      5              A   8690
Emissions Class  22555      3         Medium  12343
Fuel Efficiency  22555      3      Efficient  10589